{% extends 'myapp/base.html' %} {% block content %}
<div class="container py-4">
    <div class="card bg-gradient bg-success">
        <div class="card-body">
            <h2 class="my-3 text-center text-light">Welcome to RPGVM Linear Transportation</h2>
        </div>
    </div>
    <br><br>
    <div class="text-center text-light">
        <p style="font-size:20px;" ><b><i>Say goodbye to long queues and hello to instant bus bookings at your fingertips!<br>
        Streamline your travel arrangements with our efficient and reliable bus reservation system". </i></b></p>
    </div>
</div>

{% endblock %}